html, body {
    height: 100%;
    margin: 0;
}
body {
    display: grid;
    grid-template-rows: 10% 80% 10%;
}
.toolBar {
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;   /* IMPORTANT */

    gap: 6px;
    padding: 0px 10px;
    
    border: solid 3px rgb(98, 100, 207);
    background-color: #c3b0ff;
    border-radius: 10px;
}
.tool-option {
    display: inline-flex;
    align-items: center;
    flex: wrap;

    color: white;
    padding: 2px 4px;
    margin: 4px;

    border: 1px solid #888;
    border-radius: 6px;

    background: #544fcf87;
    cursor: pointer;

    user-select: none;
}

.tool-option input {
    display: none;
}

.tool-option:hover {
    background: #a9a9a9;
}

.tool-option:has(input:checked) {
    background: #3d77c3;
    color: white;
    border-color: #0078d4;
}


.mainContainer{
    flex: 1;
    display: flex;
}

.nodeInfoContainer {
    flex: 1;
    overflow: auto;
    border: 2px solid red;
}

.jsonOutputContainer {
    border: 2px solid blue;
}

.mapPanelContainer {
    flex: 9;
    overflow: auto;
    border: 2px solid black;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.mapPanel {
    position: relative;
    overflow: hidden;
    height: 400px;
    border: 1px solid #333;
}

.imageWrapper {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.mapImage {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gridOverlay {
    position: absolute;
    inset: 0;

    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(50, 1fr);

    z-index: 5;
    border: solid 2px black;
}

.gridCell {
    border: 1px solid black;
    cursor: pointer;
}

.gridCell.location {
    background: orange;
}
.gridCell.junction {
    background: purple;
}
.gridCell.door {
    background: red;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}